body{
  color:black;
}

.reveal {
  color: black;
}
.reveal .white-text{
  color: white;
}

.reveal .center{
  text-align: center;
}

.reveal {
  section {
    &.home {
      background: #FFF;
    }
  }
}

.reveal hr {
  border-color: #DDD;
}

div.half {
  display: block;
  float: left;
  width: 45%;
  padding-left: 2%;
  padding-left: 3%;
}

div.inline-block {
  display: inline-block;
  vertical-align: middle;
  width: 45%;
  padding-left: 2%;
  padding-left: 3%;
}

.logo-main {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.reveal section img.no-border {
  border: 0px;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

